*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body{
	background-image: url("./sources/background.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: hidden;
}

/* HEADER */

.header{
	height: 13vh;
	position: absolute;
	width: 100%;
	background-color: transparent;
	display: block;
	background: rgba(32, 32, 32, 0.8);
}

.container{
	height: 100%;
}

.navbar{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
}

.navbar-header{
	margin-top: auto;
	margin-bottom: auto;
}

.main-nav{
	height: 100%;
}

.navbar-logo{
	font-family: 'Bruno Ace', cursive;
	text-decoration: none;
	color: #f7eaea;
	font-size: 4vh;
}

ul{
	display: flex;
	list-style-type: none;
	height: 100%;
}

li{
	padding-inline-start: 3vw;
	height: fit-content;
	margin-top: auto;
	margin-bottom: auto;
}

li a{
	margin-top: auto;
	margin-bottom: auto;
}

li a {
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: fit-content;
	font-family: 'Bruno Ace', cursive;
	text-decoration: none;
	color: #f7eaea;
	font-size: 3vh;
  }
  
  .not{
	margin-top: auto;
	margin-bottom: auto;
}

.not{
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: fit-content;
	font-family: 'Bruno Ace', cursive;
	text-decoration: none;
	color: #f7eaea;
	font-size: 3vh;
  }
  
.not::before,
.not::after{
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
}
.not::before{
	background-color: #31baf6;
	height: 2px;
	bottom: 0;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.not::after{
	content: attr(data-replace);
	height: 100%;
	top: 0;
	transform-origin: 100% 50%;
	transform: translate3d(200%, 0, 0);
	transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
	color: #31baf6;
}
  
.not:hover::before{
	transform-origin: 0% 50%;
	transform: scaleX(1);
}
.not:hover::after{
	transform: translate3d(0, 0, 0);
}  
  
.not span{
	display: inline-block;
	transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.not:hover span{
	transform: translate3d(-200%, 0, 0);
}

.yes{
	margin-top: auto;
	margin-bottom: auto;
}

.yes{
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: fit-content;
	font-family: 'Bruno Ace', cursive;
	text-decoration: none;
	color: #31baf6;
	font-size: 3vh;
  }
  
.yes::before,
.yes::after{
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
}
.yes::before{
	background-color: #f7eaea;
	height: 2px;
	bottom: 0;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.yes::after{
	content: attr(data-replace);
	height: 100%;
	top: 0;
	transform-origin: 100% 50%;
	transform: translate3d(200%, 0, 0);
	transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
	color: #f7eaea;
}
  
.yes:hover::before{
	transform-origin: 0% 50%;
	transform: scaleX(1);
}
.yes:hover::after{
	transform: translate3d(0, 0, 0);
}  
  
.yes span{
	display: inline-block;
	transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.yes:hover span{
	transform: translate3d(-200%, 0, 0);
}

a{
	text-decoration: none;
	font-weight: 700;
	vertical-align: top;
}

.navbar-logo{
	transition-duration: 400ms;
}

.navbar-logo:hover{
	transition-duration: 400ms;
	color:#31baf6
}

/* HOME SCREEN */

.home{
	height: 87vh;
	width: 100%;
	margin-top:13vh;
	display: flex;
	flex-direction: column;
	background-image: url("./sources/background_aboutme.jpg");
	background-size: cover;
	
}

.aboutme{
	height: 40%;
	text-align: center;
	position: relative;
	backdrop-filter: blur(3px);
}

.aboutme_title{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 4vw;
	font-family: 'Bruno Ace', cursive;
	text-decoration: underline;
	color: #dad8d8;
	font-weight: 700;
}

.pres-container{
	height: 100%;
	width: 100%;
	position: relative;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	backdrop-filter: blur(3px);
}

.pres{
	width: 20%;
	height: 28vh;
	position: absolute;
	top: 45%;
	left: 25%;
	transform: translateY(-50%) translateX(-50%);
	font-family: 'Bruno Ace', cursive;
	text-decoration: none;
	color: #dad8d8;
	font-size: 2.5vw;
	font-weight: 500;
	padding: 6vh;
	border-radius: 20px;
	background: linear-gradient(-200deg, rgba(49, 186, 246,0.7), rgba(255, 255, 255, 0) 10%, rgba(255,255,255,0) 90%, rgba(49, 186, 246,0.7))
}

.me{
	width: 50%;
	height: 28vh;
	font-family: 'Bruno Ace', cursive;
	text-decoration: none;
	color: #dad8d8;
	font-size: 1.71vw;
	font-weight: 500;
	padding-top: 6vh;
	padding-left: 6vh;
	padding-right: 6vh;
	border-radius: 20px;
	position: absolute;
	top: 45%;
	left: 43%;
	transform: translateY(-50%);
	background: linear-gradient(-200deg, rgba(49, 186, 246,0.7), rgba(255, 255, 255,0) 10%, rgba(255,255,255,0) 90%, rgba(49, 186, 246,0.7))
}

@media only screen and (max-width: 930px) {
	.navbar-nav {
		position: fixed;
		display: flex;
		flex-direction: column;
		top: 13vh;
		right: -100%;
		width: 100%;
		height: calc(100% - 13vh);
		transition: all 0.3s ease;
		background: #222;
		z-index: 999;
	}

	.navbar-nav.active {
		right: 0;
	}

	li {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}

	.toggle_btn {
		position: absolute;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 20px;
		height: 20px;
		right: 5%;
		top: 50%;
		transform: translateY(-50%);
	}

	.toggle_btn span {
		height: 2px;
		background-color: #fff;
	}

	.toggle_btn.active span:nth-of-type(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.toggle_btn.active span:nth-of-type(2) {
		opacity: 0;
	}

	.toggle_btn.active span:nth-of-type(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.aboutme_title{
		font-size: 5vw;
	}

	.pres{
		width: 30%;
		font-size: 4vw;
	}
	.me{
		font-size: 2vh;
	}
}

@media only screen and (max-width: 690px) {
	.me{
		font-size: 1.9vh;
	}
}

@media only screen and (max-width: 615px) {
	.me{
		font-size: 1.8vh;
	}
}

@media only screen and (max-width: 520px) {
	.me{
		font-size: 1.7vh;
	}
}

@media only screen and (max-width: 480px) {
	.me{
		font-size: 1.6vh;
	}
}

@media only screen and (max-width: 440px) {
	.me{
		font-size: 1.5vh;
	}
}

@media only screen and (max-width: 430px){

	.header{
		height: 10vh;
	}

	.container{
		height: 10vh;
	}
	.navbar{
		height: 10vh;
	}
	.navbar-header{
		height: fit-content;
	}

	.navbar-nav{
		margin-top: -3vh;
		height: 100%;
	}

	.home{
		flex-direction: column;
		height: 90vh;
		margin-top:10vh;
	}

	.home div{
		width: 100%;
	}
	.logo-container{
		width: 100%;
	}
	.logo{
		width: 55%;
		margin-left: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-size: 4vw;
	}

	.aboutme{
		height: 30%;
	}

	.aboutme_title{
		transform: translateY(-80%) translateX(-50%);
	}

	.aboutme_title{
		width: 80%;
		font-size: 6.5vw;
	}

	.pres{
		height: fit-content;
		position: absolute;
		left: 50%;
		top: 0%;
		width: 80%;
		padding-left: 20%;
		transform: translateX(-50%) translateY(-10%);
		font-size: 8vw;
	}

	.me{
		width: 80%;
		height: fit-content;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-10%);
		padding-bottom: 6vh;
		font-size: 4vw;
	}
}
div[style] {
	display: none;
	opacity: 0;
	width:0;
	height:0;
}